{% load wagtailcore_tags wagtailimages_tags %}

<div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 g-3 mt-1">
  {% for card in value.cards %}
  <div class="col">
    <div class="col card shadow rounded-3">
      <div class="card-body p-0">
        {% if card.link.url %}<a href="{{ card.link.url }}">{% endif %}
        {% if card.image %}
          <picture>
            {% image card.image fill-570x370 as img %}
            <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}">
          </picture>
        {% endif %}
        <div class="p-2">
          <h5 class="card-title">{{ card.title }}</h5>
          {% if card.text %}<p class="card-text">{{ card.text|richtext }}</p>{% endif %}
          {% if card.link.url %}<p class="card-text">{{ card.link.link_text }}</p>{% endif %}
        </div>
        {% if card.link.url %}</a>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
