{% load wagtailcore_tags wagtailimages_tags cmspage_tags %}

<style>
    .card-img-top {
        object-fit: cover;
    }
    .card-text {
        margin-bottom: 0;
    }
</style>
<div class="row g-0 g-sm-1 g-md-2 g-lg-3 me-1 {{ value.palette }} {{ value.inset }} justify-content-around">
  {% for card in value.cards %}
    <div class="col-12 col-lg-6 col-xl-{{ colspread }} {{ card.inset }}">
      {% if card.link.link_url %}<a href="{{ card.link.link_url }}" class="text-decoration-none text-reset">{% endif %}
      <div class="card shadow rounded-3 h-100 {{ card.palette }} {{ value.justify }} mx-auto" style="max-width: 450px;">
        <div class="card-header text-center p-1 m-0"> {# Header already has text-center #}
          <span class="card-block-title{% if value.cursive %} cursive{% endif %} fs-4 p-1 mb-0">{{ card.title }}</span>
        </div>
        <div class="card-body p-1">
          {% if card.image %}
            <picture>
              {% render_image card.image orientation=card.orientation|lower size=card.size|lower responsive=card.responsive rounded=value.rounded crop=self.crop %}
            </picture>
          {% endif %}
          <div class="px-2 py-1 card-block-text d-flex flex-column {{ card.justify }} flex-grow-1 mt-auto">
            {% if card.text %}
              <p class="flex-grow-1 richtext">{{ card.text|richtext }}</p>
            {% endif %}
            <div class="mt-auto {{ card.justify }} text-md-end">
              {% if card.link.link_url %}
                {% if card.link.link_title == '-' %}
                  <div class="inline-block link-arrow text-dark">{% include "icons/right-pointing-arrow-icon.svg" %}</div>
                {% elif card.link.link_title %}
                  <div class="btn w-100 btn-secondary">{{ card.link.link_title }}</div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if card.link.link_url %}</a>{% endif %}
    </div>
  {% endfor %}
</div>
