{% load static wagtailcore_tags wagtailimages_tags %}
{% if self.image_alignment == "full" %}
<div class="row position-relative text-center {{ self.inset }} {{ self.bg.background }} {{ self.bg.opacity }}">
  <picture>
    {% if self.image_size == "portrait" %}
      {% image self.image fill-540x960-c50 format-webp as webp_image %}
      <source srcset="{{ webp_image.url }}" type="image/webp">
      {% image self.image fill-540x960-c50 as the_image %}
      <img src="{{ the_image.url }}" alt="{{ the_image.alt }}" class="img-fluid">
    {% elif self.image_size == "landscape" %}
      {% image self.image fill-960x540-c50 format-webp as webp_image %}
      <source srcset="{{ webp_image.url }}" type="image/webp">
      {% image self.image fill-960x540-c50 as the_image %}
      <img src="{{ the_image.url }}" alt="{{ the_image.alt }}" class="img-fluid">
    {% else %}
      {% image self.image original format-webp as webp_image %}
      <source srcset="{{ webp_image.url }}" type="image/webp">
      {% image self.image original as the_image %}
      <img src="{{ the_image.url }}" alt="{{ the_image.alt }}" class="img-fluid">
    {% endif %}
  </picture>
  <div class="{% if self.overlay %} overlay-top{% endif %} py-3 block-text">
    <div class="block-title {{ self.justify }}">
    {% if self.title %}<h2>{{ self.title }}</h2></div>{% endif %}
    {% if self.text %}<p class="block-text richtext-text {{ self.justify }}">{{ self.text|richtext }}</p>{% endif %}
  </div>
  {% if self.link.link_url %}
    <div class="row m-2 p-3">
      <a href="{{ self.link.link_url }}" class="text-decoration-none">
        {% if self.link.button_title and self.link.button_title != '-' %}
        <div class="col text-end">
          <div class="btn btn-outline-primary btn-lg collapsing-button-width">
            {{ self.link.button_title }}
          </div>
        </div>
        {% else %}
        <div class="col text-end">
          <div class="btn btn-outline-primary btn-lg collapsing-button-width link-elongated-arrow border-0">
            &#10132;
          </div>
        </div>
        {% endif %}
      </a>
    </div>
  {% endif %}
</div>
{% else %}
<div class="row {% if self.image_alignment == "right" %}flex-row-reverse {% endif %}position-relative {{ self.inset }} {{ self.bg.background }} {{ self.bg.opacity }}">
  <div class="col-auto{% if self.image_alignment == "right" %} text-end{% else %} text-start{% endif %}">
    <picture>
      {% if self.image_size == "portrait" %}
        {% image self.image fill-540x960-c50 format-webp as webp_image %}
        <source srcset="{{ webp_image.url }}" type="image/webp">
        {% image self.image fill-540x960-c50 as the_image %}
        <img src="{{ the_image.url }}" alt="{{ the_image.alt }}" class="img-fluid">
      {% elif self.image_size == "landscape" %}
        {% image self.image fill-960x540-c50 format-webp as webp_image %}
        <source srcset="{{ webp_image.url }}" type="image/webp">
        {% image self.image fill-960x540-c50 as the_image %}
        <img src="{{ the_image.url }}" alt="{{ the_image.alt }}" class="img-fluid">
      {% else %}
        {% image self.image original format-webp as webp_image %}
        <source srcset="{{ webp_image.url }}" type="image/webp">
        {% image self.image original as the_image %}
        <img src="{{ the_image.url }}" alt="{{ the_image.alt }}" class="img-fluid">
      {% endif %}
    </picture>
  </div>
  <div class="col{% if self.image_alignment == "left" %}{% if self.overlay %} overlay-text-right{% endif %} text-end{% else %}{% if self.overlay %} overlay-text-left{% endif %} text-start{% endif %} py-5 block-text">
    <div class="block-title">
    {% if self.title %}<h2 class="block-title {{ self.justify }}">{{ self.title }}</h2>{% endif %}
    </div>
    {% if self.text %}<p class="block-text richtext-text {{ self.justify }}">{{ self.text|richtext }}</p>{% endif %}
  </div>
  {% if self.link.link_url %}
    <div class="row m-2 p-3">
      {% if self.link.button_title and self.link.button_title != '-' %}
        <div class="col text-end">
          <a href="{{ self.link.link_url }}" class="btn btn-outline-primary btn-lg collapsing-button-width">
            {{ self.link.button_title }}
          </a>
        </div>
      {% else %}
        <div class="col text-end">
          <a href="{{ self.link.link_url }}" class="btn btn-outline-primary btn-lg collapsing-button-width link-elongated-arrow border-0">
            &#10132;
          </a>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endif %}
