{% load wagtailimages_tags %}

<div class="row mb-3 m-2 p-2 text-center {{ self.background }} {{ self.opacity }}">
  <div class="col-sm-12 p-2">
    <picture>
      {% image self.image fill-1200x775-c75 format-webp as webp_image %}
      <source srcset="{{ webp_image.url }}" type="image/webp">
      {% image self.image fill-1200x775-c75 as original_image %}  {# Fallback to original #}
      <img src="{{ original_image.url }}" alt="{{ original_image.alt }}" class="img-fluid">
    </picture>
  </div>
</div>
