{% load wagtailcore_tags wagtailimages_tags %}

<div class="row {{ value.inset }} {{ value.palette }} justify-content-center align-items-center">
  {% for social in value.links %}
    {% if social.url %}
    <div class="col-auto text-center">
      <a href="{{ social.url }}" title="{{ social.name }}" class="text-decoration-none text-reset" target="_blank">
      <div class="social-icon">
        {% with social_icon="cmspage/icons/social/"|add:social.icon|add:".svg" %}
        {% include social_icon %}
        {% endwith %}
      </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
