{% extends 'base.html' %}

{% load static %}

{% block metas %}
  {% block meta-twitter-image %}
    <meta name="twitter:image" content="{% static 'images/grey-pattern.png' %}">
  {% endblock meta-twitter-image %}
  {% block meta-description %}
    <meta name="description" content="Some description of this site/page.">
  {% endblock meta-description %}
{% endblock metas %}

{% block navigation %}
  {% include 'cmspage/partials/_navigation.html' %}
{% endblock navigation %}

{% block footer %}
  {% include 'cmspage/partials/_footer.html' %}
{% endblock footer %}
