{% extends 'base.html' %}
{% load cmspage_tags %}

{% block navigation-top %}{% endblock navigation-top %}
{% block header %}{% cmspage_include include.header %}{% endblock header %}
{% block navigation-left %}{% cmspage_include include.navigation %}{% endblock navigation-left %}
{% block messages %}{% cmspage_include include.messages %}{% endblock messages %}
{% block content %}{% cmspage_include include.main %}{% endblock content %}
{% block footer %}{% cmspage_include include.footer %}{% endblock footer %}
