/*
 SCSS Source for custom styles used in CMS Pages
 */
@import 'partials/variables';

.alert {
  padding: 0.25em 0.5em;
  margin: 0 3em 0.25em;
}

.alert-error {
  color: white;
  background-color: #ff2020ff;
}

.alert-warning {
  color: black;
  background-color: #ffff20ff;
}

.alert-success {
  color: white;
  background-color: #20ff208f;
}

.alert-info {
  color: black;
  background-color: #20ffff8f;
}

.alert-debug {
  color: black;
  background-color: #d7d7d78f;
}

.hellohoney {
  font-family: hellohoney, cursive, sans-serif;
}

.alexbrush {
  font-family: alexbrush, cursive, sans-serif;
}

.page-title {
  font-size: 2.0em;
  width: fit-content;
  font-kerning: normal;
}

.hero {
  background-image: url('https://via.placeholder.com/1200x375');
  background-size: cover;
  background-position: center;
}

.menu-list {
  margin: 0;
  padding: 0;

  .menu-item {
    //display: block; /* Ensure each menu item is a block element */
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  .menu-link {
    display: block; /* Ensure links within each menu item are block elements */
    padding: 0.10em 1em 0 1em;
    text-decoration: none;
    color: var(--menu-text-color);
    border-radius: 0.20em;
    background: transparent;
    text-transform: uppercase;

    .menu-icon {
      display: inline-block;
      margin-left: 0.4em;
      height: 0.75em;
      align-self: start;
      vertical-align: baseline;
    }

    &:hover {
      background-color: var(--menu-hover-bg-color);
      color: var(--menu-hover-text-color);
    }

    // Add left padding for each indent level
    &.level-0 {
      padding-left: 0;
    }

    &.level-1 {
      padding-left: 1.25em;
    }

    &.level-2 {
      padding-left: 2.50em;
    }

    &.level-3 {
      padding-left: 3.75em;
    }
  }
}

.nav {
  display: block;
  font-size: 1.3em;
  list-style-type: none;
}

.header-logo {
  height: 80px;
  width: auto;
  margin: 0;
}

.inner-heading {
  font-weight: bolder;
  color: var(--heading-color);
  margin: 0.5em 0;
  text-align: end;
}

// Text & Image blocks
.heading-hr {
  margin: 0.5em 0;
  box-shadow: 1 1 4px var(--heading-color);
}

@media (min-width: $breakpoint-lg) {
  .collapsing-button-width {
    width: 50%;
  }
}

.collapsing-button-width {
  width: 100%;
  color: var(--heading-color);
}

@media (min-width: $breakpoint-lg) {
  .collapsing-button-width {
    width: 50%;
  }
}

.collapsing-button-width {
  width: 100%;
  color: var(--heading-color);
}

.overlay-text-left {}
.overlay-text-right {}
.overlay-top {}

@media (min-width: $breakpoint-lg) {
  .overlay-shadow {
    text-shadow: -1px -1px 0 var(--bs-body-bg),
    1px -1px 0 var(--bs-body-bg),
    -1px 1px 0 var(--bs-body-bg),
    1px 1px 0 var(--bs-body-bg);
  }

  .overlay-text-right {
    @extend .overlay-shadow;
    position: absolute;
    padding-left: 35%;
    padding-right: 1em;
  }

  .overlay-text-left {
    @extend .overlay-shadow;
    position: absolute;
    padding-right: 35%;
    padding-left: 1em;
  }

  .overlay-top {
    @extend .overlay-shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

// generic right-pointing link arrow
.link-elongated-arrow {
  font-size: 1.5em;
  display: inline-block;
  text-align: end;
}

// menu
#leftMenu {
  background-color: transparent;
  padding-left: 0.5em;
}

/* When the menu is collapsed and shown, apply the new background color */
#leftMenu.collapse.show {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bs-secondary-bg);
}
