/*
 SCSS Source for custom styles used in CMS Pages
 */
@import 'partials/variables';

.alert {
  padding: 0.25em 0.5em;
  margin: 0 3em 0.25em;
}

.alert-error {
  color: white;
  background-color: #ff2020ff;
}

.alert-warning {
  color: black;
  background-color: #ffff20ff;
}

.alert-success {
  color: white;
  background-color: #20ff208f;
}

.alert-info {
  color: black;
  background-color: #20ffff8f;
}

.alert-debug {
  color: black;
  background-color: #d7d7d78f;
}

.hellohoney {
  font-family: hellohoney, cursive, sans-serif;
}

.alexbrush {
  font-family: alexbrush, cursive, sans-serif;
}

.page-title {
  font-size: 2.0em;
  width: fit-content;
  font-kerning: normal;
  color: var(--heading-color);
}

.hero {
  background-image: url('https://via.placeholder.com/1200x375');
  background-size: cover;
  background-position: center;
}

.menu-list {
  margin: 0;
  padding: 0;

  .menu-item {
    //display: block; /* Ensure each menu item is a block element */
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  .menu-link {
    display: block; /* Ensure links within each menu item are block elements */
    padding: 0.10em 1em 0 1em;
    text-decoration: none;
    color: var(--menu-text-color);
    border-radius: 0.20em;
    background: transparent;
    text-transform: uppercase;

    .menu-icon {
      display: inline-block;
      height: 1.20em;
      vertical-align: super;
      font-size: smaller;
      padding-bottom: 0.2em;

      svg {
        color: inherit;
        height: 100%;
        width: auto;
      }
    }

    &:hover {
      background-color: var(--menu-hover-bg-color);
      color: var(--menu-hover-text-color);
    }

    // Add left padding for each indent level
    &.level-0 {
      padding-left: 0;
    }

    &.level-1 {
      padding-left: 0.75em;
    }

    &.level-2 {
      padding-left: 1.5em;
    }

    &.level-3 {
      padding-left: 2.25em;
    }
  }
}

.nav {
  display: block;
  font-size: 1.15em;
  list-style-type: none;
}

.header-logo {
  height: 80px;
  width: auto;
  margin: 0;
}

.inner-heading {
  font-weight: bolder;
  color: var(--heading-color);
  margin: 0.5em 0.5em;
  padding: 0.1em 0.5em;
  text-align: end;
  vertical-align: text-top;
}

// Text & Image blocks
.heading-hr {
  margin: 0.5em 0;
  box-shadow: 1 1 4px var(--heading-color);
}

@media (min-width: $breakpoint-lg) {
  .collapsing-button-width {
    width: 50%;
  }
}

.collapsing-button-width {
  width: 100%;
  color: var(--heading-color);
}

@media (min-width: $breakpoint-lg) {
  .collapsing-button-width {
    width: 50%;
  }
}

.collapsing-button-width {
  width: 100%;
  color: var(--heading-color);
}

.overlay-text-left {
}

.overlay-text-right {
}

.overlay-top {
}

@media (min-width: $breakpoint-lg) {
  .overlay-shadow {
    text-shadow: -1px -1px 0 var(--bs-body-bg),
    1px -1px 0 var(--bs-body-bg),
    -1px 1px 0 var(--bs-body-bg),
    1px 1px 0 var(--bs-body-bg);
  }

  .overlay-text-right {
    @extend .overlay-shadow;
    position: absolute;
    padding-left: 35%;
    padding-right: 1em;
  }

  .overlay-text-left {
    @extend .overlay-shadow;
    position: absolute;
    padding-right: 35%;
    padding-left: 1em;
  }

  .overlay-top {
    @extend .overlay-shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

// generic right-pointing link arrow
.link-elongated-arrow {
  font-size: 1.5em;
  display: inline-block;
  text-align: end;
}

// menu
#leftMenu {
  background-color: transparent;
  padding-left: 0.5em;
}

#leftMenuButton {
  position: absolute;
  float: left;
}

/* When the menu is collapsed and shown, apply the new background color */
#leftMenu.collapse.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bs-tertiary-bg);
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.page-heading {

}

.height-0 {
  display: block;
  height: 0;
}

.height-1 {
  display: block;
  height: 1.0rem;
}

.height-2 {
  display: block;
  height: 2.0rem;
}

.height-3 {
  display: block;
  height: 3.0rem;
}

.height-4 {
  display: block;
  height: 4.0rem;
}

.height-5 {
  display: block;
  height: 5.0rem;
}


.richtext-text {
  line-height: 1.2em;
}

.block-title {
  font-size: 4.0rem;
  color: var(--heading-color);
}

.block-text, .card-text {
  line-height: 1.2em;
}

.block-text-large {
  @extend .block-text;
  font-size: 1.75rem;
}

.title-text-light {
  color: var(--heading-color);
}

.social-icon {
  display: flex;
  justify-content: center;
  height: 2.5em;

  svg {
    height: 100%;
    width: auto;
  }
}

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  @media (min-width: $breakpoint-md) {
    min-height: 28rem;
  }
}

.bg-tertiary {
  background-color: #{$tertiary};
}

.text-tertiary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-tertiary-color-rgb), var(--bs-text-opacity)) !important;
}

.text-tertiary-emphasis {
  color: var(--bs-tertiary-text-emphasis) !important;
}

.form-row {
  padding: 15px 0;
}

.aligned .form-row,
.aligned .form-row > div {
  max-width: 100vw;
}
.aligned .form-row > div {
  width: calc(100vw - 30px);
}
