{% load static wagtailadmin_tags cmspage_tags %}

<li class="menu-item">
  <a href="{{ item.url }}" class="menu-link level-{{ level }} align-top">
    {% if item.icon %}
      <span class="fw-bolder">{{ item.title }}</span>
      <div class="{{ item.icon_color }} menu-icon img-responsive">
        {% include item.icon %}
      </div>
    {% else %}
      {{ item.title }}
    {% endif %}
  </a>
  {% if item.children %}
    {% with next_level=level|add:1 %}
    <ul class="list-unstyled">{% for child in item.children %}
      {% cmspage_include include.navigation_item with item=child level=next_level %}
    {% endfor %}</ul>
    {% endwith %}
  {% endif %}
</li>
