{% load static wagtailadmin_tags %}
{# include.navigation_item #}
<li class="menu-item">
  <a href="{{ item.url }}" class="menu-link level-{{ level }}">
    {% with icon_path="images/icons/"|add:item.icon|add:".svg" %}
      <img src="{% static icon_path %}" title=item.title class="menu-icon">
    {% endwith %}
    {{ item.title }}
  </a>
  {% if item.children %}
    <ul class="list-unstyled">{% for child in item.children %}
      {% include include.navigation_item with item=child level=level|add:1 %}
    {% endfor %}</ul>
  {% endif %}
</li>
