{% load static wagtailadmin_tags %}
<div class="col-md-2">
  <div class="dropdown ps-0" id="leftMenuButton">
    <button class="btn bg-white d-md-none mb-5" type="button" data-bs-toggle="collapse"
            data-bs-target="#leftMenu" aria-expanded="false" aria-controls="leftMenu" title="Toggle Menu">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <nav class="dropdown-menu border-0 collapse d-md-block" id="leftMenu">
    <ul class="nav menu-list">{% for item in navigation %}
      {% include include.navigation_item with item=item level=0 %}
    {% endfor %}</ul>
  </nav>
</div>
